---
layout: default
---
<h1>Lição {{ page.number }}: {{ page.title }}</h1>

<div class="row-fluid marketing">
	<div class="span2">
		<img class="gray profile" src="{{ page.profile-photo }}"/>
	</div>
	<div class="span10">
		<h4><strong>Diógenes Fernandes</strong></h4>
		Aqui terá um introdução feita pelo próprio autor da lição, com informações sobre o que ele faz e links para entrar em contato. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quis, eos officia accusamus tempora cupiditate blanditiis dolore veritatis! Cupiditate, corporis, officia asperiores dignissimos perspiciatis ratione quibusdam nam repudiandae et esse.</div>
</div>

<ol class="rounded-list">
{% for lesson in page.lessons %}
<li>
<h4>
	<a href="{{ lesson.url }}">{{ lesson.title }}</a>
</h4>
<small>tipo: {{ lesson.type }}</small>
<p>{{ lesson.text|markdownify }}</p>
</li>
{% endfor %}
</ol>

<hr>


